.help-page section {
  background: #7d5e3c;
  margin: 40px auto;
  padding: 30px 40px;
  width: 60%;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: white;
}

/* FAQ Questions */
.help-page h4 {
  margin-top: 20px;
  color: #bea683;
}

/* Paragraph inside card */
.help-page p {
  color: white;
}

/* =========================
   FORM STYLING
   ========================= */

.help-page input,
.help-page textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  background: #bea683;
  font-family: "Lora", serif;
}

.help-page button {
  background: #bea683;
  color: #402615;
  border: 2px solid black;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.help-page button:hover {
  background: #d2b893;
}


.help-page a {
  font-size:20px;
  display: inline-block;
  margin-top: 8px;
  font-weight: bold;
  color: #402615;
  text-decoration: none;
}

.help-page a:hover {
  background-color: black;
  text-decoration: underline;
}
